body{
    background-color: aquamarine;
}
#logo{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin-top: 15px;
}
#logo-name{
    display: inline-block;
    margin-left: 15px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: wheat;
  margin-bottom: 20px;
  }

  #result{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
  border-top: 10px solid #AA4465;
  }

  h4{
    margin-left: 10px;
  }
  span{
    display: inline-block;
  }
  .questions_ways{
    text-align: center;
    background-color: red;
  }